.ticket-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-ticket-button {
    align-self: flex-end; 
    margin-right: 20px;
    background-color: #196a56;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    

}
